
.modal {
  position: fixed;
  top: 50vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}
.modalCloseButton{
    margin-bottom: 15px;
    padding: 3px 8px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    align-self: flex-end;
}
#bubble{
    width:100px;
    height:100px;
    align-self: center;
}