body{
  background-color: black;
  background-image: url("../src/assets/img/bodyback1.jpg");
  margin:0px;
}
/* .AppContainer {

  position:absolute;
  margin-left: auto;
  margin-right: auto;
} */ */
.arraybars{
  display: block;
  position:absolute;
  height:300px;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.mentor {
  height: calc(100% - 351px);
  width: 0px;
  float: left;
}
#mentor1{
  float:left;
  z-index: 8;

}
.mentee {
  height: calc(100% - 280px);
  width: 0px;
  float: right;
}
#mentee1{
  float:right;
  height:280px;
  z-index:8;
}

#barValue {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0;
  margin: auto
}

.item {
  justify-content: center;
  position: relative;
  width: 35px;
  background:#70c1b3;
  margin: 5px
}

.move-right{
  background-color:#f25f5c;
  animation: move-right 0.5s forwards
}

.move-left {
  background-color: #f25f5c;
  animation: move-left 0.5s forwards;
}
    
.done {
  background-color: #f9c464;

}

.checking {
  background-color: #f25f5c;
}

@keyframes move-right {
  0% {left: 0}
  40% {left: 0}
  /* 50% {left: 45px} */
  100% {left: 45px}
}

@keyframes move-left {
  0% {left: 0}
  40% {left: 0}
  /* 50% {left: -45px} */
  100% {left: -45px}
}
